<h1>Welcome to the Practice Manager!</h1>

<p>
  Sign up for an account, where you can create practice tasks and view them by date, area of focus, or musical work. Record clips of your practice session and save them, so that you can track your progress. Create your own categories as well!
</p>
